html {
	font-size: 62.5%;
}
 


.wrapper {
	width: 1256px;
	font-family: RobotoSlab;
	overflow: hidden;
	margin: 0 auto;
}

/*-----------------------------------header------------------------------------*/

header {
	overflow: hidden;
	background-color: #edeff1;
	height: 147px;

}

.logo {
	float: left;
	overflow: hidden;
	margin-top: 49px;
	font-size: 3.6rem;
	font-weight: 700;
	color: #31353e;

}

.logo span {
	display: block;
	color: #dd4b2b;
	font-family: RobotoSlab;
	font-size: 1.6rem;
	font-weight: 400;
}

nav {
	margin-top: 49px;
	float: right;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.4rem;
}

nav ul li {
	float: left;
	list-style-type: none;
	padding: 15px 22.5px;
}

nav ul li:first-child {
	margin-left: 0px;
}

nav ul li:last-child {
	margin-left: 0px;
}

nav ul li:hover {
	background-color: #dd4b2b;
	border-radius: 25px;
	color: #edeff1;
}


/*------------------------------main-----------------------------------*/
/*------------------------------section-1 (main-section)------------------------------*/

.main-section {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	text-align: center;
}

.main-section h1{
	font-size: 7.2rem;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	padding-top: 480px;
	margin: 0px 0px 20px;
}

.main-section h2{
	font-size: 3.0rem;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	margin: 0;
}

.food {
	width: 92.8%;
	overflow: hidden;
	margin: 122px auto 0px;
}

.food-menu {
	width: 368px;
	padding-right: 30px;
	float: left;
}

.food-menu:last-child {
	padding-right: 0;
}



.food h2 {
	color: white;
	font-size: 3.0rem;
	font-weight: 700;
	margin-top: 20px;
}

.food p {
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 3.0rem;
}

.read-more {
	margin: 80px auto;
	color: #612316;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.0rem;
}

.read-more a {
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	padding: 20px 60px;
}

/*------------------------------section-2 (our-news)------------------------------*/

.our-news {
	text-align: center;
	background-color: #edeff1;
	padding-top: 80px;
}

.our-news h1 {
	color: #31353e;
	font-size: 3.0rem;
	font-weight: 700;
	line-height: 2.4rem;
	margin: 0px auto 80px;
}

.news {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 100px;
}

.news img {
	max-width: 100%;
}

.news h2 {
	font-size: 2.4rem;
	font-weight: 700;
	padding: 
}

.news p {
	font-size: 1.5rem;
	font-weight: 300;
	width: 288px;
	margin: 0 auto 39px;
}

.news-menu {
	float: left;
	text-align: center;
	padding-right: 26px;
	width: 31%;
	margin: 0 1.75% 50px 0;
	padding-right: 0;
}

.news-menu:first-child {
	margin-left: 1.75%;
	
}

.news-menu:last-child {
	padding-right: 0px;
}

.news a:last-child {
	color: #4e5159;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 3.0rem;
	padding: 21px 53px;
	background-color: white;
	border-radius: 27px;
}

/*------------------------------section-3 (newsletter)------------------------------*/

.newsletter {
	text-align: center;
	background-image: url(../img/bg-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.newsletter h1 {
	color: white;
	font-size: 3.0rem;
	font-weight: 700;
	line-height: 4.8rem;
	margin: 80px 0 0 0;
}

.newsletter h2 {
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
	width: 533px;
	margin: 0 auto;
}

.newsletter form {
	margin: 0 auto;
	width: 509px;
}

section form div {
	margin: 0 auto;
	text-align: center;
}

.newsletter form input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 27px;
    color: #f3f4f6;
    float: left;
    font-size: 1.8rem;
    height: 54px;
    margin-top: 43px;
    padding-left: 36px;
    width: 293px;
}

.newsletter form input:last-child {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 27px;
    color: #612316;
    float: left;
    height: 58px;
    left: 286px;
    padding: 0 42px;
    position: relative;
    text-align: center;
    top: -101px;
    width: 214px;
}

/*------------------------------section-4 (posts)------------------------------*/

.posts {
	background-color: white;
	margin: 40px auto 0;
}

.posts article {
	width: 1165px;
	margin: 0 auto;
	overflow: hidden;
}

.posts img {
	height: auto;
	float: right;
}

.posts article p {
	color: #191b29;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 3.0rem;
	width: 561px;
	overflow: hidden;
}

.posts article h1 {
	color: #191b29;
	font-size: 3.0rem;
	line-height: 4.8rem;
}

.posts div a {
	text-align: center;
	height: 57px;
	background-color: #dd4b2b;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	color: white;	
	width: 212px;
	padding: 18px 75px;
	font-size: 1.8rem;
	font-weight: 400;
}

.posts article div {
	margin-top: 43px;
}

.posts article:last-child {
	margin-top: 50px;
	margin-bottom: 86px;
}

.posts article:last-child img {
	width: 582px;
	height: auto;
	float: left;
	margin-right: 20px;
}

.posts article:last-child div a {
	background-color: #4b4e73;
}

/*------------------------------section-5 (links-orange)------------------------------*/

.links-orange {
	background-color: #d75d0e;
	clear: both;
}


.links-orange ul {
	float: left;
	padding-left: 0;
	margin: 90px 133px;
}

.links-orange ul li {
	list-style-type: none;
	color: white;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.6rem;
}



/*------------------------------footer------------------------------*/

footer {
	background-image: url(../img/bg-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

}

footer p {
	margin: 85px auto 243px;
	color: white;
	font-size: 1.8rem;
}

footer span {
	display: block;
}

footer a {
	font-weight: 700;
}