body  {
	background-image: url(../images/bg.jpg);

	text-align: justify;
}

h1  {
	text-align: center;
}

p  {
	text-indent: 40px;
	text-align: justify;
}

.blockquote {
	font-style: italic;
	margin-left: 10%;
}


.fig {
	text-align: center;
}

#wrapper {
	margin: 0 10%;
}