
/*-------------------------------------480 - 767-----------------------------*/

@media screen and (min-width: 320px) {

	.container {
	    max-width: 95%;
	}

	.xs-col-1, .xs-col-2, .xs-col-3, 
	.xs-col-4, .xs-col-5, .xs-col-6,
	.xs-col-7, .xs-col-8, .xs-col-9,
	.xs-col-10, .xs-col-11 {  
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 1px;
		float: left;
	}


}

@media screen and (min-width: 320px) and (max-width: 479px) {

	.subscription form input, .subscription form button {
		display: block;
		margin: 20px auto;
		text-align: center;
	}


}

@media screen and (min-width: 320px) and (max-width: 767px) {

	.xs-col-12 {
		float: none;
		width: 100%;
	}

	nav {
		display: none;
	}

	.logo-text {
		padding: 7px 0 0 10px;
		font-size: 1.9rem;
		font-weight: 700;
	}

	nav, .header .button {
		font-size: 1.2rem;
		padding: 10px 20px;

	}

	.fork-app h1 {
		margin: 50px auto 10px;
		font-size: 5.2rem;
	}

	.fork-app h2 {
		font-size: 2rem;
	}

	.fork-app p {
		margin: 0 auto 70px;
	}

	.revolutionary-editor .container .big {
		font-size: 1.7rem;
	}

	.authors .row div .s-col-4 {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}



}


/*-------------------------------------768 - 980-----------------------------*/

@media screen and (min-width: 768px) {

	.container {
	    max-width: 95%;
	}

	.s-col-1, .s-col-2, .s-col-3, 
	.s-col-4, .s-col-5, .s-col-6,
	.s-col-7, .s-col-8, .s-col-9,
	.s-col-10, .s-col-11  {  
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 1px;
		float: left;
	}


}

@media screen and (min-width: 768px) and (max-width: 979px) {

	.s-col-12 {
		float: none;
		width: 100%;
	}

	nav ul li {
		padding: 10px 8px;
	}

	.logo-text {
		padding: 7px 8px 0 11px;
		font-size: 2rem;
		font-weight: 700;
	}

	nav, .header .button {
		font-size: 1.2rem;
	}

	.pricing {
		font-size: 90%;
	}


}

/*-------------------------------------980 - ...-----------------------------*/
	
@media screen and (max-width: 979px) {

		.subscription h1 {
			text-align: center;
			margin-bottom: 30px;
		}

		.subscription form {
			text-align: center;
		}

		.news {
			text-align: center;
		}

		.news .container .row {
			padding: 30px;
		}

		.news-button {
			margin: 20px auto 0;
		}

		section.footer div.container {
			margin: 0 auto;
		}

		.footer .container .with-logo p {
			width: 100%;
		}

		.navi-footer {
			margin: 20px auto;
		}

		.footer .logo-text {
			float: none;
		}

		.footer .container, .navi-footer nav ul {
			margin: 0;
		}

		.footer .container, .navi-footer nav ul li {
			text-align: center;
		}

		.with-logo .logo img {
			float: none;
			display: inline-block;
		}

		.footer .logo-text {
			display: inline;
			position: relative;
			top: -13px;
		}



}



@media screen and (min-width: 980px) {

	.container {
	    max-width: 95%;
	}

	.m-col-1, .m-col-2, .m-col-3, 
	.m-col-4, .m-col-5, .m-col-6,
	.m-col-7, .m-col-8, .m-col-9,
	.m-col-10, .m-col-11  {  
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 1px;
		float: left;
	}

	.m-col-12 {
		float: none;
		width: 100%;
	}

	.advantages-text h2 {
		display: none;
	}
}

@media screen and (max-width: 980px) {

	.advantages-pic h2 {
		display: none;
	}
}


/*-------------------------------------1024 - 1255-----------------------------*/

@media screen and (min-width: 1200px) {

	.container {
		max-width: 95%;
	}

	.l-col-1, .l-col-2, .l-col-3, 
	.l-col-4, .l-col-5, .l-col-6,
	.l-col-7, .l-col-8, .l-col-9,
	.l-col-10, .l-col-11  {  
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		min-height: 1px;
		float: left;
	}

	.l-col-12 {
		float: none;
		width: 100%;
	}
}


